<!DOCTYPE html>
<html ng-app="suggestionbox">
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.2/css/font-awesome.min.css" />
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
</head>
<body>
<div class="container-fluid mainContainer" ng-controller="mainController">
    <header class="row">
        <div class="col-xs-12 col-sm-2">
            <a class="burgerMenu" ng-class="{open: showDashboard}" href="javascipt: void();" ng-click="manageDashboard()"><i class="fa fa-bars" aria-hidden="true"></i></a> <a href="/#/"><img src="/assets/enear-logo1.png" alt="Home" title="Home" /> </a>
        </div>
        <div class="col-xs-5 col-sm-10 hidden-xs">
            <h1 class="title text-center"><%= title %></h1>
        </div>
    </header>
        <div id="dashboard" ng-class="{visible: showDashboard}">
            <div class="col-xs-12 dashBoardSection text-center">
                <i class="fa fa-user " id="user" aria-hidden="true">&nbsp;</i>
                 <%= username %> <br />

            </div>
                <ul class="col-xs-12 dashBoardSection navigation">
                    <li>
                        <a href="/#/"><i class="fa fa-th-list" aria-hidden="true"></i>Suggestions</a>
                    </li>
                    <li>
                        <a href="/#/new"><i class="fa fa-plus" aria-hidden="true"></i>New Suggestion</a>
                    </li>
                    <li>
                        <a href="/logout"><i class="fa fa-sign-out" aria-hidden="true"></i>Logout</a>
                    </li>
                </ul>

        </div>
        <div id="contentWrapper">
            <div ng-view></div>
        </div>
</div>
<footer class="container">
    <div class="row">
        <div class="col-xs-12  footerText text-center">
            Open Source - code: <a href="//github.com/BrunoAssuncao/suggestion-box">suggestion-box</a>
        </div>
    </div>
</footer>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-route.min.js"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-resource.min.js"
        crossorigin="anonymous"></script>

<script type="text/javascript" src='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.17/angular-sanitize.min.js'></script>

<script type="text/javascript" src='http://cdnjs.cloudflare.com/ajax/libs/textAngular/1.1.2/textAngular.min.js'></script>


<script type="text/javascript" src="/javascripts/app.js"></script>
<script type="text/javascript" src="/suggestionBox/mainCtrl.js"></script>
<script type="text/javascript" src="/suggestions/routes.js"></script>
<script type="text/javascript" src="/suggestions/list/suggestionListCtrl.js"></script>
<script type="text/javascript" src="/suggestions/detail/suggestionDetailCtrl.js"></script>
<script type="text/javascript" src="/suggestions/new/suggestionNewCtrl.js"></script>
<script type="text/javascript" src="/suggestions/suggestions-factory.js"></script>

</body>
</html>
