<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=no">

    <title><%= title %></title>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
          crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel="icon" type="image/png" href="/assets/favicon.png">

</head>
<body>
<div class="container mainContainer" >
    <header class="row">
        <img class="logo" src="/assets/enear-logo1.png" title="enear" alt="enear"/>
        <h1 class="text-center col-xs-12" ><%= title %></h1>
    </header>
    <div class="row">
        <div class="col-xs-12 text-center">
            <!-- <form method="POST" action="/login" class="form-signin">
                <input type="hidden" name="redirectTo" value="/#<%= redirectTo %>" />
                <h2 class="form-signin-heading"><%= title2 %></h2>
                <label for="username" class="sr-only">Username</label>
                <input id="username" name="username" placeholder="Username">
                <label for="password" class="sr-only">Password</label>
                <input id="password" name="password" type="password" placeholder="Password">
                <button class="button btn btn-lg btn-primary" type="Submit">log in</button>
            </form> -->

            <a href="/auth/slack"><img src="https://api.slack.com/img/sign_in_with_slack.png" /></a>

        </div>
    </div>
</div>
<footer class="container">
    <div class="row">
        <div class="col-xs-12">
            This is the footer
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" crossorigin="anonymous"></script>
</body>
</html>
