<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/login.css'/>
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css"
          crossorigin="anonymous">
    <link rel="icon" type="image/png" href="/favicon.png">
</head>
<body>

<header>
    <h1 class="text-center" ><%= title %></h1>
</header>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <form method="POST" action="/login" class="form-signin">
                <h2 class="form-signin-heading"><%= title2 %></h2>
                <label for="username" class="sr-only">Username</label>
                <input id="username" name="username" placeholder="Username">
                <label for="password" class="sr-only">Password</label>
                <input id="password" name="password" type="password" placeholder="Password">
                <button class="btn btn-lg btn-primary btn-block" type="Submit">log in</button>
            </form>
        </div>
    </div>
</div>

<footer>This is the footer</footer>

<script src="https://code.jquery.com/jquery-2.2.3.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/js/bootstrap.js" crossorigin="anonymous"></script>
</body>
</html>
