<div class="overlay" ng-show="deleteWarning">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="deleteWarning = false;" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Warning</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to permanently delete this suggestion?</p>
      </div>
      <div class="modal-footer">
          <a  class="deleteSuggestion" href="javascript:void();" ng-click="deleteSuggestion()">Delete</a>
          <button type="button" class="btn button" ng-click="deleteWarning = false;">close</button>
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <a class="btn button" ng-href="/#/">Back to list</a>
    </div>
</div>
<div class="list-group">
    <a class="list-group-item">
        <div class="row">
            <div class="col-xs-12 col-sm-1 voteSection">
                <i class="fa fa fa-arrow-up vote" ng-click="suggestion.vote = 'like'; proccessVote();" ng-class="{voted: suggestion.vote == 'like' }" aria-hidden="true"> </i>
                <span class="list-group-item-text votes"
                    ng-class="{negative:suggestion.score < 0, positive:suggestion.score > 0}">
                    <strong> {{score}}</strong>
                </span>
                <i class="fa fa fa-arrow-down vote" ng-model="vote" ng-click="suggestion.vote = 'dislike'; proccessVote();" ng-class="{voted: suggestion.vote == 'dislike'}" aria-hidden="true" ></i>
            </div>
            <div class="col-xs-12 col-sm-11">
                <div class="row">
                    <h3 class="col-xs-12 col-sm-7 list-group-item-heading">{{suggestion.title}} <span class="small" ng-show="!isAdmin && suggestion.state">({{suggestion.state}})</span></h3>
                    <p class="col-xs-12 col-sm-5 createdBy">created by: {{suggestion.creator}} | {{suggestion.createdAt | date:"MM/dd/yyyy @ h:mma"}}</p>
                </div>
                <div class="row">
                    <p class=" col-xs-12 list-group-item-text">{{suggestion.body}}</p>
                    <form id="stateForm" class="col-xs-12" ng-show="isAdmin">
                        <button class="btn button pull-right" ng-click="deleteWarning = true;" >Delete suggestion</button>
                        <select ng-model="suggestion.state" ng-change="changeState()">
                            <option ng-repeat="state in states" value="{{state.state}}" ng-selected="suggestion.state === state.state">
                                {{state.state}}
                            </option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
    </a>
</div>
