<div class="row">
    <div class="col-xs-12">
        <a class="btn button" ng-href="#/">Back to list</a>
    </div>
</div>
<div class="list-group">
    <a class="list-group-item">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-1 voteSection">
                    <i class="fa fa fa-arrow-up vote" ng-click="vote = 'like'; proccessVote();" ng-class="{voted: vote == 'like' }" aria-hidden="true"> </i>
                    <span class="list-group-item-text votes"
                        ng-class="{negative:suggestion.score < 0, positive:suggestion.score > 0}">
                        <strong> {{score}}</strong>
                    </span>
                    <i class="fa fa fa-arrow-down vote" ng-model="vote" ng-click="vote = 'dislike'; proccessVote();" ng-class="{voted: vote == 'dislike'}" aria-hidden="true" ></i>
                </div>
                <div class="col-xs-12 col-sm-11">
                    <h3 class="list-group-item-heading">{{suggestion.title}}</h3>
                    <p class="createdBy">created by: {{suggestion.creator}}</p>
                    <p class="list-group-item-text">{{suggestion.body}}</p>
                </div>
            </div>
        </div>
    </a>
</div>
