
<p><a class="btn" ng-href="#/">Back</a></p>
<div class="list-group">
    <a class="list-group-item">
        <h3 class="list-group-item-heading">{{suggestion.title}}</h3>
        <p class="list-group-item-text">{{suggestion.body}}</p>
        <p class="list-group-item-text"
           ng-class="{negative:suggestion.likes.length - suggestion.dislikes.length < 0, positive:suggestion.likes.length - suggestion.dislikes.length > 0}">
            <strong>Score: {{suggestion.likes.length - suggestion.dislikes.length}}</strong>
        </p>
        <p class="list-group-item-text"><small>Likes: {{suggestion.likes.length}} | Dislikes: {{suggestion.dislikes.length}}</small></p>
        <p class="list-group-item-text" ng-show="unvoted()"><small>unvoted</small></p>
        <p class="list-group-item-text" ng-show="votedUp()"><small>voted up</small></p>
        <p class="list-group-item-text" ng-show="votedDown()"><small>voted down</small></p>
        <p class="list-group-item-text"><em>Suggested by {{suggestion.creator}}</em></p>
    </a>
</div>

