<div class="row" ng-show="hasSuggestions()">
    <h2 class="col-xs-12">Open Suggestions</h2>
</div>
<div class="row">
    <div class="actions col-xs-12">
        <a class="btn btn-primary" ng-href="#/new">New suggestion</a>
    </div>
</div>
<div class="list-group" ng-show="hasSuggestions()">
    <a class="list-group-item" ng-href="#/suggestion/{{suggestion._id}}"
        ng-repeat="suggestion in suggestions | orderBy:' -score'">
        <h3 class="list-group-item-heading">{{suggestion.title}}</h3>
        <p class="list-group-item-text">{{suggestion.body}}</p>
        <p class="list-group-item-text"
        ng-class="{negative:suggestion.score < 0, positive:suggestion.score > 0}">
        <small>Score: {{suggestion.score}}</small>
        </p>
    </a>
</div>


<p ng-show="!hasSuggestions()" class="text-center" ><em>No suggestions so far... ;( Be the first to add one!</em></p>
