<div class="row">
    <h2 class="col-xs-12">New Suggestion</h2>
</div>

<div class="row">
    <form class="col-xs-12" name="suggestionForm" ng-submit="suggestionForm.$valid && newCtrl.submitSuggestion()" novalidate>
        <label for="title" class="sr-only">Title</label>
        <input id="title" class="col-xs-12" name="title" placeholder="Title" ng-model="newCtrl.suggestion.title" required>
        <label for="body" class="sr-only">Description</label>
        <div text-angular text-angular-name="newSuggestion" ng-model="newCtrl.suggestion.body" name="body" required>
        </div>
        <div class="row-fluid">
            <a class="btn fullWidthXs" ng-href="#/">Cancel</a>
            <input class="btn button" ng-class="{ disabled: !suggestionForm.$valid }" type="submit" value="Submit" />
        </div>
    </form>
</div>
