@import "compass/css3";
@import "config.scss";
html, body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;

  .mainContainer {
      background-color: rgba(265, 265, 265, 0.6);
      height: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
      margin-bottom: -56px;

      &::after {
          content: "";
          display: block;
          height: 46px;
      }

      header {
          text-align: center;
      }

      a {
          color: #00B7FF;
      }

      .logo {
          margin-bottom: 15px;
      }

      .login {
          text-align: center;
          padding: $spacing * 2 0;

          .errorMessage {
              margin: $spacing 0;
          }
      }
      form {

          max-width: 300px;
          margin: 3em auto;

          * {
              width: 100%;
          }

          input {
              padding: 10px;
              border: 1px solid lightgray;
              margin-top: 1em;

              &:focus {
                  border: 1px solid $orange;
                  outline: none;
                  -webkit-transition: border $standardDuration; /* Safari */
                  transition:border $standardDuration;
              }
          }

          .button {
              margin-top: 1em;
              color: #fff;
              background-color: $orange;
              border-color: $orange;
              -webkit-transition: background-color $standardDuration, color $standardDuration; /* Safari */
              transition: background-color $standardDuration, color $standardDuration;
              &:hover {
                  background-color: #fff;
                  color: $orange;
                  border-color: $orange;
              }
          }
      }
  }

   footer {
       padding-top: 25px;
       padding-bottom: 15px;
       text-align: center;
  }


}

@media (max-width: 768px ) {
    body {
        background: #fff;
    }
}
