@import "compass/css3";

body {
  padding: 50px 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  header, footer {
    text-align: center;
  }

  .actions {
    text-align: right;
  }

  .btn {
      margin: 15px 0;
  }

  .createdBy {
      margin-bottom: 15px;
  }

  form {
    min-width: 300px;
    //max-width: 80%;
    margin: 3em auto;

    * {
      width: 100%;
    }

    .ng-invalid.ng-dirty {
      border-color: #FA787E;
    }

    input {
      padding: 10px;
      border: 1px solid lightgray;
      border-radius: 0.5em 0.5em 0 0;
      margin-top: 1em;
    }

    textarea {
      padding: 10px;
      min-height: 8em;
      border: 1px solid lightgray;
      border-radius: 0 0 0.5em 0.5em;
      border-top: none;
    }

    [type=submit] {
      margin-top: 1em;
    }
  }
}


a {
  color: #00B7FF;

  p {
    &.positive { color: darkgreen; }
    &.negative { color: darkred; }
  }

  .voteSection {
      font-size: 18px;
      text-align: center;

      .votes {
          margin: 3px;
      }

      .vote {
          cursor: pointer;
          display: block;
      }

      .voted {
          color: #ffa500;
      }
  }
}

@media (max-width: 720px ) {
    .btn {
        width: 100%;
    }

    .voteSection {
        padding: 10px 0;
        .votes {
            margin: 10px;
        }
        .vote {
            display: inline-block;
        }
    }
}
