@import "compass/css3";

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  header, footer {
    text-align: center;
  }
}

a {
  color: #00B7FF;

  p {
    &.positive { color: darkgreen; }
    &.negative { color: darkred; }
  }
}