@import "compass/css3";
@import "config.scss";

html, body {
    height: 100%;
    padding: 0;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $orange;

  .mainContainer {
      background-color: #fff;
      min-height: 100%;
      margin-bottom: -56px;

      &::after {
          content: "";
          display: block;
          height: 46px;
      }
      header, footer {
          padding-top: 25px;
          padding-bottom: 15px;
      }

      .actions {
          text-align: right;
      }

      .btn {
          margin: 15px 0;
      }

      .listTitle {
          margin: 15px 0;
      }

      form {
          min-width: 300px;
          margin: 3em auto;

          * {
              width: 100%;
          }

          .ng-invalid.ng-dirty {
              border-color: #FA787E;
          }

          input {
              padding: 10px;
              border: 1px solid lightgray;
              margin: 1em 0;

             &:focus {
                 outline: 0;
                 border: 1px solid $orange;
                 outline: none;
                 -webkit-transition: border $standardDuration; /* Safari */
                 transition:border $standardDuration;
             }
          }

          textarea {
              padding: 10px;
              min-height: 8em;
              border: 1px solid lightgray;

              &:focus {
                  border: 1px solid $orange;
                  outline: none;
                  -webkit-transition: border $standardDuration; /* Safari */
                  transition:border $standardDuration;
              }
          }

          [type=submit] {
              margin-top: 1em;
          }
      }

      .createdBy {
          text-align: right;
      }

      #stateForm {
        margin:15px 0;

        select {
            outline-color: $orange;
        }
      }

      .suggestionsList {
          float: left;
          .suggestion {
                float: left;
                width: 100%;
                p {
                    &.positive { color: darkgreen; }
                    &.negative { color: darkred; }
                  }
          }
      }

      .button {
          margin-top: 1em;
          color: #fff;
          background-color: $orange;
          border-color: $orange;
          -webkit-transition: background-color $standardDuration, color $standardDuration; /* Safari */
          transition: background-color $standardDuration, color $standardDuration;
          &:hover {
              background-color: #fff;
              color: $orange;
              border-color: $orange;
          }
      }

      .small {
          font-size: 12px;
      }

      .voteSection {
          font-size: 18px;
          text-align: center;

          .votes {
              margin: 3px;
          }

          .vote {
              cursor: pointer;
              display: block;
          }

          .voted {
              color: #ffa500;
          }
      }
  }

 footer {
      padding-top: 25px;
      padding-bottom: 15px;
      text-align: center;
      background-color: #fff;

  }
}


@media (max-width: 720px ) {
    body {
        .mainContainer {
            .createdBy {
                text-align: left;
            }

            .voteSection {
                padding: 10px 0;
                .votes {
                    margin: 10px;
                }
                .vote {
                    display: inline-block;
                }
            }
        }
    }
    .btn {
        width: 100%;
    }
}
